:root {
  --game-margin: 24px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  font-family: sans-serif;
}

.container {
  display: grid;
  width: 100%;
  min-height: 100vh;
  padding: var(--game-margin);
  place-items: center;
}

.hidden {
  display: none;
}
